* {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 5px black;
}

body {
    background-image: url("background.jpg");
}

h1 {
    text-align: center;
    font-size: 250px;
    color:rgb(222, 253, 255);
}

p {
    font-size: 100px;
    text-align: center;
    color: white;
}

ul {
    text-decoration: none;
}

li {
    font-size: 75px;
    color: rgb(179, 255, 220);

}